doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title love-good
    meta(name='description', content='love-journey')
    meta(name='viewport', content='width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='format-detection', content='telephone=no')
    link(rel='stylesheet', type='text/css', href='/dist/plugins/iconfont/iconfont.css')
    // style
    link(rel='stylesheet', type='text/css', href='/dist/css/waist.min.css')
    // According to the screen automatically set the font size
    script(src='/dist/js/factory/accordingScreenAutoSetFontSize.js')
  body
    .love-container
      // header
      .love-header.clearfix
        a#J_leftMenu.love-menu-icon.iconfont.icon-zhuye(href='/index')
        .love-header-search.clearfix
          | 上衣
        span.love-shopcar.iconfont.icon-gouwuche
      // app
      .love-app.clearfix
        div
          a(href='javascript:;')
            img(src='/dist/images/love-app.gif', width='100%')
          a(href='javascript:;')
            img(src='/dist/images/love-yurongfu.png', width='100%')
      // 
      .mbanner-top  
      // 限时抢购
      .love-flashsale
        .love-flashsale-img
          a(href='/index/good')
            img(src='/dist/images/love-time.jpg')
        .love-flashsale-down
          span 剩余时间
          span.love-flashsale-time.J_timeHours 00
          |                 :
          span.love-flashsale-time.J_timeMinutes 00
          |                 :
          span.love-flashsale-time.J_timeSeconds 00
        .love-flashsale-style
          .flashsale-style1
            a.flashsale-style(href='/index/good')
              img(src='/dist/images/love-time1.jpg')
          .flashsale-style2
            a(href='/index/good')
              img(src='/dist/images/love-time2.jpg')
      // 
      .mbanner-top
      // 图片分类
      .love-img-category
        .love-module-title 全部商品
        ul.love-category-list.clearfix
          li.love-category-item
            a(href='/index/waist')
              img(src='/dist/images/love-category1.jpg', alt='')
            p.love-category-name 上衣
            p.love-category-description 新年换新衣
          li.love-category-item
            a(href='/index/waist')
              img(src='/dist/images/love-category2.jpg', alt='')
            p.love-category-name 裤子
            p.love-category-description 新年换新衣
          li.love-category-item
            a(href='/index/waist')
              img(src='/dist/images/love-category3.jpg', alt='')
            p.love-category-name 裙子
            p.love-category-description 新年换新衣
          li.love-category-item
            a(href='/index/waist')
              img(src='/dist/images/love-category4.jpg', alt='')
            p.love-category-name 内衣
            p.love-category-description 新年换新衣
          li.love-category-item
            a(href='/index/waist')
              img(src='/dist/images/love-category5.jpg', alt='')
            p.love-category-name 鞋子
            p.love-category-description 新年换新衣
          li.love-category-item
            a(href='/index/waist')
              img(src='/dist/images/love-category6.jpg', alt='')
            p.love-category-name 包包
            p.love-category-description 新年换新衣
          li.love-category-item
            a(href='/index/waist')
              img(src='/dist/images/love-category7.jpg', alt='')
            p.love-category-name 男友
            p.love-category-description 新年换新衣
          li.love-category-item
            a(href='/index/waist')
              img(src='/dist/images/love-category8.jpg', alt='')
            p.love-category-name 美妆
            p.love-category-description 新年换新衣
          li.love-category-item
            a(href='/index/waist')
              img(src='/dist/images/love-category9.jpg', alt='')
            p.love-category-name 配饰
            p.love-category-description 新年换新衣
          li.love-category-item
            a(href='/index/waist')
              img(src='/dist/images/love-category10.png', alt='')
            p.love-category-name 母婴
            p.love-category-description 新年换新衣
          li.love-category-item
            a(href='/index/waist')
              img(src='/dist/images/love-category11.png', alt='')
            p.love-category-name 家居
            p.love-category-description 新年换新衣
          li.love-category-item
            a(href='/index/waist')
              img(src='/dist/images/love-category12.jpg', alt='')
            p.love-category-name 个护
            p.love-category-description 新年换新衣
          li.love-category-item
            a(href='/index/waist')
              img(src='/dist/images/love-category13.png', alt='')
            p.love-category-name 百货
            p.love-category-description 新年换新衣
          li.love-category-item
            a(href='/index/waist')
              img(src='/dist/images/love-category14.jpg', alt='')
            p.love-category-name 零食
            p.love-category-description 新年换新衣
          li.love-category-item
            a(href='/index/waist')
              img(src='/dist/images/love-category8.jpg', alt='')
            p.love-category-name 美妆
            p.love-category-description 新年换新衣
          li.love-category-item
            a(href='/index/waist')
              img(src='/dist/images/love-category12.jpg', alt='')
            p.love-category-name 个护
            p.love-category-description 新年换新衣
      // 
      .mbanner-top  
      // love-new
      .love-new.clearfix
        .love-new-cloth1
          a(href='/index/good')
            img(src='/dist/images/love-new1.jpg')
        .love-new-cloth2
          a(href='/index/good')
            img(src='/dist/images/love-new2.jpg')
      // 
      .mbanner-top
      // 图片列表题目
      .love-title.clearfix
        .love-title-star
          .title-star
            span.iconfont.icon-xingxing
          .title-choose 买家精选
        #J-love-title-list.love-title-list.clearfix
          a#J-title-list3.title-list3(href='javascript:;') 全部
          a.title-list1(href='javascript:;') 棉衣
          a.title-list2(href='javascript:;') 毛呢外套
          a(href='javascript:;') 羽绒服
      // 瀑布流
      #J-love-imgs.love-imgs.clearfix
        ul
          li.J-love-li(style='display:block')
            .love-imgs-box
              ul
                li
                  .imgs-box-img
                    a(href='/index/good')
                      img(src='/dist/images/love-imgs1.webp')
                  .imgs-box-title
                    a(href='/index/good') 实拍2色夹棉厚羊毛呢大翻领大衣
                  .imgs-box-price
                    span.box-price 168.00
                    span.iconfont.icon-xin 34032
                li
                  .imgs-box-img
                    a(href='/index/good')
                      img(src='/dist/images/love-imgs2.webp')
                  .imgs-box-title
                    a(href='/index/good') 实拍2色夹棉厚羊毛呢大翻领大衣
                  .imgs-box-price
                    span.box-price 168.00
                    span.iconfont.icon-xin 34032
                li
                  .imgs-box-img
                    a(href='/index/good')
                      img(src='/dist/images/love-imgs3.webp')
                  .imgs-box-title
                    a(href='/index/good') 实拍2色夹棉厚羊毛呢大翻领大衣
                  .imgs-box-price
                    span.box-price 168.00
                    span.iconfont.icon-xin 34032
                li
                  .imgs-box-img
                    a(href='/index/good')
                      img(src='/dist/images/love-imgs4.webp')
                  .imgs-box-title
                    a(href='/index/good') 实拍2色夹棉厚羊毛呢大翻领大衣
                  .imgs-box-price
                    span.box-price 168.00
                    span.iconfont.icon-xin 34032
                li
                  .imgs-box-img
                    a(href='/index/good')
                      img(src='/dist/images/love-imgs3.webp')
                  .imgs-box-title
                    a(href='/index/good') 实拍2色夹棉厚羊毛呢大翻领大衣
                  .imgs-box-price
                    span.box-price 168.00
                    span.iconfont.icon-xin 34032
                li
                  .imgs-box-img
                    a(href='/index/good')
                      img(src='/dist/images/love-imgs2.webp')
                  .imgs-box-title
                    a(href='/index/good') 实拍2色夹棉厚羊毛呢大翻领大衣
                  .imgs-box-price
                    span.box-price 168.00
                    span.iconfont.icon-xin 34032
                li
                  .imgs-box-img
                    a(href='/index/good')
                      img(src='/dist/images/love-imgs4.webp')
                  .imgs-box-title
                    a(href='/index/good') 实拍2色夹棉厚羊毛呢大翻领大衣
                  .imgs-box-price
                    span.box-price 168.00
                    span.iconfont.icon-xin 34032
                li
                  .imgs-box-img
                    a(href='/index/good')
                      img(src='/dist/images/love-imgs1.webp')
                  .imgs-box-title
                    a(href='/index/good') 实拍2色夹棉厚羊毛呢大翻领大衣
                  .imgs-box-price
                    span.box-price 168.00
                    span.iconfont.icon-xin 34032
          li.J-love-li
            .love-imgs-box
              ul
                li
                  .imgs-box-img
                    a(href='/index/good')
                      img(src='/dist/images/love-imgs2.webp')
                  .imgs-box-title
                    a(href='/index/good') 实拍2色夹棉厚羊毛呢大翻领大衣
                  .imgs-box-price
                    span.box-price 168.00
                    span.iconfont.icon-xin 34032
                li
                  .imgs-box-img
                    a(href='/index/good')
                      img(src='/dist/images/love-imgs2.webp')
                  .imgs-box-title
                    a(href='/index/good') 实拍2色夹棉厚羊毛呢大翻领大衣
                  .imgs-box-price
                    span.box-price 168.00
                    span.iconfont.icon-xin 34032
                li
                  .imgs-box-img
                    a(href='/index/good')
                      img(src='/dist/images/love-imgs3.webp')
                  .imgs-box-title
                    a(href='/index/good') 实拍2色夹棉厚羊毛呢大翻领大衣
                  .imgs-box-price
                    span.box-price 168.00
                    span.iconfont.icon-xin 34032
                li
                  .imgs-box-img
                    a(href='/index/good')
                      img(src='/dist/images/love-imgs4.webp')
                  .imgs-box-title
                    a(href='/index/good') 实拍2色夹棉厚羊毛呢大翻领大衣
                  .imgs-box-price
                    span.box-price 168.00
                    span.iconfont.icon-xin 34032
                li
                  .imgs-box-img
                    a(href='/index/good')
                      img(src='/dist/images/love-imgs3.webp')
                  .imgs-box-title
                    a(href='/index/good') 实拍2色夹棉厚羊毛呢大翻领大衣
                  .imgs-box-price
                    span.box-price 168.00
                    span.iconfont.icon-xin 34032
                li
                  .imgs-box-img
                    a(href='/index/good')
                      img(src='/dist/images/love-imgs2.webp')
                  .imgs-box-title
                    a(href='/index/good') 实拍2色夹棉厚羊毛呢大翻领大衣
                  .imgs-box-price
                    span.box-price 168.00
                    span.iconfont.icon-xin 34032
                li
                  .imgs-box-img
                    a(href='/index/good')
                      img(src='/dist/images/love-imgs4.webp')
                  .imgs-box-title
                    a(href='/index/good') 实拍2色夹棉厚羊毛呢大翻领大衣
                  .imgs-box-price
                    span.box-price 168.00
                    span.iconfont.icon-xin 34032
                li
                  .imgs-box-img
                    a(href='/index/good')
                      img(src='/dist/images/love-imgs1.webp')
                  .imgs-box-title
                    a(href='/index/good') 实拍2色夹棉厚羊毛呢大翻领大衣
                  .imgs-box-price
                    span.box-price 168.00
                    span.iconfont.icon-xin 34032
          li.J-love-li
            .love-imgs-box
              ul
                li
                  .imgs-box-img
                    a(href='/index/good')
                      img(src='/dist/images/love-imgs3.webp')
                  .imgs-box-title
                    a(href='/index/good') 实拍2色夹棉厚羊毛呢大翻领大衣
                  .imgs-box-price
                    span.box-price 168.00
                    span.iconfont.icon-xin 34032
                li
                  .imgs-box-img
                    a(href='/index/good')
                      img(src='/dist/images/love-imgs2.webp')
                  .imgs-box-title
                    a(href='/index/good') 实拍2色夹棉厚羊毛呢大翻领大衣
                  .imgs-box-price
                    span.box-price 168.00
                    span.iconfont.icon-xin 34032
                li
                  .imgs-box-img
                    a(href='/index/good')
                      img(src='/dist/images/love-imgs3.webp')
                  .imgs-box-title
                    a(href='/index/good') 实拍2色夹棉厚羊毛呢大翻领大衣
                  .imgs-box-price
                    span.box-price 168.00
                    span.iconfont.icon-xin 34032
                li
                  .imgs-box-img
                    a(href='/index/good')
                      img(src='/dist/images/love-imgs4.webp')
                  .imgs-box-title
                    a(href='/index/good') 实拍2色夹棉厚羊毛呢大翻领大衣
                  .imgs-box-price
                    span.box-price 168.00
                    span.iconfont.icon-xin 34032
                li
                  .imgs-box-img
                    a(href='/index/good')
                      img(src='/dist/images/love-imgs3.webp')
                  .imgs-box-title
                    a(href='/index/good') 实拍2色夹棉厚羊毛呢大翻领大衣
                  .imgs-box-price
                    span.box-price 168.00
                    span.iconfont.icon-xin 34032
                li
                  .imgs-box-img
                    a(href='/index/good')
                      img(src='/dist/images/love-imgs2.webp')
                  .imgs-box-title
                    a(href='/index/good') 实拍2色夹棉厚羊毛呢大翻领大衣
                  .imgs-box-price
                    span.box-price 168.00
                    span.iconfont.icon-xin 34032
                li
                  .imgs-box-img
                    a(href='/index/good')
                      img(src='/dist/images/love-imgs4.webp')
                  .imgs-box-title
                    a(href='/index/good') 实拍2色夹棉厚羊毛呢大翻领大衣
                  .imgs-box-price
                    span.box-price 168.00
                    span.iconfont.icon-xin 34032
                li
                  .imgs-box-img
                    a(href='/index/good')
                      img(src='/dist/images/love-imgs1.webp')
                  .imgs-box-title
                    a(href='/index/good') 实拍2色夹棉厚羊毛呢大翻领大衣
                  .imgs-box-price
                    span.box-price 168.00
                    span.iconfont.icon-xin 34032
          li.J-love-li
            .love-imgs-box
              ul
                li
                  .imgs-box-img
                    a(href='/index/good')
                      img(src='/dist/images/love-imgs4.webp')
                  .imgs-box-title
                    a(href='/index/good') 实拍2色夹棉厚羊毛呢大翻领大衣
                  .imgs-box-price
                    span.box-price 168.00
                    span.iconfont.icon-xin 34032
                li
                  .imgs-box-img
                    a(href='/index/good')
                      img(src='/dist/images/love-imgs2.webp')
                  .imgs-box-title
                    a(href='/index/good') 实拍2色夹棉厚羊毛呢大翻领大衣
                  .imgs-box-price
                    span.box-price 168.00
                    span.iconfont.icon-xin 34032
                li
                  .imgs-box-img
                    a(href='/index/good')
                      img(src='/dist/images/love-imgs3.webp')
                  .imgs-box-title
                    a(href='/index/good') 实拍2色夹棉厚羊毛呢大翻领大衣
                  .imgs-box-price
                    span.box-price 168.00
                    span.iconfont.icon-xin 34032
                li
                  .imgs-box-img
                    a(href='/index/good')
                      img(src='/dist/images/love-imgs4.webp')
                  .imgs-box-title
                    a(href='/index/good') 实拍2色夹棉厚羊毛呢大翻领大衣
                  .imgs-box-price
                    span.box-price 168.00
                    span.iconfont.icon-xin 34032
                li
                  .imgs-box-img
                    a(href='/index/good')
                      img(src='/dist/images/love-imgs3.webp')
                  .imgs-box-title
                    a(href='/index/good') 实拍2色夹棉厚羊毛呢大翻领大衣
                  .imgs-box-price
                    span.box-price 168.00
                    span.iconfont.icon-xin 34032
                li
                  .imgs-box-img
                    a(href='/index/good')
                      img(src='/dist/images/love-imgs2.webp')
                  .imgs-box-title
                    a(href='/index/good') 实拍2色夹棉厚羊毛呢大翻领大衣
                  .imgs-box-price
                    span.box-price 168.00
                    span.iconfont.icon-xin 34032
                li
                  .imgs-box-img
                    a(href='/index/good')
                      img(src='/dist/images/love-imgs4.webp')
                  .imgs-box-title
                    a(href='/index/good') 实拍2色夹棉厚羊毛呢大翻领大衣
                  .imgs-box-price
                    span.box-price 168.00
                    span.iconfont.icon-xin 34032
                li
                  .imgs-box-img
                    a(href='/index/good')
                      img(src='/dist/images/love-imgs1.webp')
                  .imgs-box-title
                    a(href='/index/good') 实拍2色夹棉厚羊毛呢大翻领大衣
                  .imgs-box-price
                    span.box-price 168.00
                    span.iconfont.icon-xin 34032
    script(src='/dist/plugins/zepto/zepto.min.js')
    script(src='/dist/js/factory/util.js')
    script(type='text/javascript').
      //倒计时
      function countDown(){
      var a = '1483949141293';
      setInterval(function(){
      var o = {};
      o = util.countDown(a);
      $('.J_timeHours').html(util.fillZero(o.hour));
      $('.J_timeMinutes').html(util.fillZero(o.minute));
      $('.J_timeSeconds').html(util.fillZero(o.second));
      },1000)
      }
      countDown();
      // 列表
      var aLovetitlelist = document.getElementById('J-love-title-list').getElementsByTagName('a');
      var aLoveimgs = document.getElementById('J-love-imgs').getElementsByClassName('J-love-li');
      for (var i = 0; i < aLovetitlelist.length; i++) {
      aLovetitlelist[i].index =i;
      aLovetitlelist[i].onclick = function(){
      for (var i = 0; i < aLovetitlelist.length; i++) {
      aLovetitlelist[i].className = " ";
      aLoveimgs[i].style.display = 'none';
      };
      this.className = "title-list3";
      aLoveimgs[this.index].style.display='block';
      }
      };
